.button__orange {
    background: #FF7143;
    color: #FFF;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: calc(100px + 80 * (100vw / 1440));
    height: calc(30px + 20 * (100vh / 800));
    font-size: calc(10px + 7 * (100vw / 1440));
    transition: background-color .2s ease, transform .2s ease;
    font-weight: 500;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.button__orange:active {
    transform: scale(0.9);
}

.button__orange:hover, .button__orange:focus {
    background: #5454D4;
    color: #FFF;
}