@media (max-width:800px) {
    .main {
        display: grid;
        justify-content: center;
    }

    .block__first {
        grid-template-columns: calc(300px + 160 * (100vw / 1440));
        gap: 50px;
    }

    .article__first {
        margin-left: 0;
        text-align: center;
        justify-content: center;
    }

    .position__types-block {
        justify-content: center;
    }

    .first__image {
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button__round {
        display: none;
    }

    .companies {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        background: rgb(212, 206, 206);
        border-radius: 5%;
    }

    .image__companies {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .block__second {
        margin-top: 30px;
        grid-template-columns: calc(300px + 160 * (100vw / 1440));
        width: max-content;
        margin-left: 0;
        gap: 50px;
        text-align: center;
        justify-items: center;
    }

    .block__third {
        margin-top: 30px;
        grid-template-columns: calc(300px + 160 * (100vw / 1440));
        width: max-content;
        margin-left: 0;
        gap: 50px;
        text-align: center;
        justify-items: center;
    }

    .article__second {
        justify-items: center;
    }

    .article__third {
        justify-items: center;
    }

    .second__image {
        transform: scale(0.8);
    }

    .third__image {
        grid-row: 1;
        transform: scale(0.8);
    } 

}